<h1>記事一覧</h1>
<table>
 <tr>
  <th>タイトル</th>
  <th>本文</th>
 </tr>
 <% @articles.each do |article| %>
 <tr>
  <td><%= article.title %></td>
  <td><%= article.description %></td>
 </tr>
 <% end %>
</table>