.under-field
  %ul.under-field__term
    %li.under-field__term__content
      %h2.under-field__term__content__title Trip Logについて
      %ul.under-field__term__content__text
        %li
          %a(href="#") About Trip Log
        %li
          %a(href="#") 会社概要
        %li
          %a(href="#") アクセス
        %li
          %a(href="#") Trip Log利用規約
    %li.under-field__term__content
      %h2.under-field__term__content__title Trip Logを見る
      %ul.under-field__term__content__text
        %li
          %a(href="#") カテゴリー一覧
        %li
          %a(href="#") ランキング
        %li
          %a(href="#") この夏のオススメ
        %li
          %a(href="#") 注目の遊び方
    %li.under-field__term__content
      %h2.under-field__term__content__title ヘルプ＆ガイド
      %ul.under-field__term__content__text
        %li
          %a(href="#") Trip Logガイド
        %li
          %a(href="#") コミュニティ
        %li
          %a(href="#") お知らせ
        %li
          %a(href="#") お問い合わせ