.SearchPage {
  width: 100vw;
  height: calc( 100vh - 10vh);
  padding: 30px 60px;
  box-sizing: border-box;
  overflow: scroll;
  &__Top {
    width: 100vw;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 0.15em;
  }
}

.Search {
  float: left;
  width: 430px;
  height: 500px;
  border: 1px solid #D8D8D8;
  padding: 30px;
  margin: 10px;
  border-radius: 8px !important;
  &__Name {
    display: flex;
    font-size: 16px;
    &__SubName {
      font-size: 20px;
      margin-left: 15px;
    }
  }
}