// * {
//   box-sizing: border-box;
// }
// 複数のプロパティを変数でまとめたものです。
@mixin logo_size {
  width: 150px;
  height: 55px;
}
@mixin mypage_logout {
  display: block;
  background: #fffacd;
  color: #fff;
  height: 32px;
  padding: 5px 8px;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  margin-right: 15px;
}

//ここからheaderとfooterの設定
.Trip_Log_Logo {
  @include logo_size;
}

.torilog_Logo {
  @include logo_size;
}


.header {
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid #696969;
  padding: 10px 0px 0px 0px;
  display: flex;
  &__left {
    width: 10vw;
    margin: 10px 0 0 30px;
  }
  &__middle {
    width: 50vw;
    margin-bottom: 30px;
  }
  &__right {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__username {
      font-weight: bold;
      margin: 20px 30px 0 30px;
      font-size: 20px;
      color: #fa4141;
    }
    // &__mypage, &__logout, &__triplog, &__new  {
    //   @include mypage_logout;
    // }
  }
}
.upper-field{
  padding: 0 60px;
  &__navigate{
    float: right;
    &__left-side{
      display: flex;
      text-align: left;
      &__item{
        margin: 0;
        padding: 0 0 0 15px;
        background-color: #fff;
      }
      &__item li{
        width: 120px;
        display: inline-block;
        list-style-type: none;
        position: relative;
      }
      &__item a{
        background-color: #fff;
        color: black;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        display: block;
        background-color: #57C3E9;
        color: #fff;
        border-radius: 10px;
      }
      &__item a:hover{
        color: #fa4141;
      }
      &__item ul{
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 1;
      }
      &__item ul li{
        width: 250px;
        margin-top: 10px;
        background-color: #57C3E9;
        text-align: center;
        border-radius: 10px;
      }
      &__item ul li a{
        line-height: 35px;
        text-align: center;
        padding-left: 5px;
        font-weight: normal;
        background-color: #57C3E9;
      }
      &__item ul li a:hover{
        color: #fa4141;
      }
      &__item ul ul{
        margin: 0px;
        padding: 0px;
        display: none;
        position: absolute;
        top: -1px;
        left: 100%;
      }
    }
  }
}

.fas.fa-th-large {
  font-size: 30px;
  color: #57C3E9;
}










.body {
  width: 100vw;
}

.footer {
  width: 100vw;
  height: 10vh;
  border-top: 1px solid #696969;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  &__left {
    margin-left: 30px;
    display: flex;
    flex-direction: column ;
  }
  &__right {
    font-size: 33px;
    margin-right: 30px;
    display: flex;
    align-items: center;
      &__line {
        margin: 15px 10px 10px;
        color: #00B900;
      }
      &__facebook {
        margin: 10px;
        a {
          color: #4267b2;
        }
      }
      &__twitter {
        margin: 10px;
        a {
          color: #1da1f2;
        }
      }
  }
}

//ここからuserページの装飾
.header {
  width: 100%;
  border-bottom: 1px solid #696969;
  img {
    margin-left: 30px;
  }
}
.AccountPage {
  width: 100vw;
  // min-height: calc( 100vh - 15vh);
  height: 600px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  background-image: image-url('travel.jpg');
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  overflow: scroll;
}

.AccountPage__title {
  width: 30%;
  margin-left: 300px;
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: bold;
    color: #fffafa;
    &:after {
      content: "";
      display: block;
      width: 60px;
      margin-top: 5px;
      border-bottom: 1px solid #fffafa;
    }
  }

  .Button {
    margin-top: 40px;
    color: #fff;
    background-color: #fa4141;
    font-weight: bold;
    border-radius: 20px;
  }
}

.AccountPage__form {
  width: 50%;
}

.FormField {
  margin-bottom: 10px;
  width: 30vw;
  color: #fff;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #000000;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}

.UserButton {
  margin-top: 20px;
  color: #fff;
  background-color: #fa4141;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
  h2 {
    margin-bottom: 10px;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
  }
  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }
  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.AccountPage__Second {
  width: 100%;
  height: 500px;
  background-color: #57C3E9;
  color: #fff;
  padding-top: 50px;
  font-size: 32px;
  font-weight: bold;
  &__Contents {
    padding: 30px 0;
    text-align: center;
  }
  &__ContentRight {
    display: flex;
    justify-content: center;
    &__One, &__Two, &__Three {
      width: 30%;
      text-align: center;
      font-size: 150px;
      h1 {
        font-size: 20px;
        margin-top: 15px;
      }
      p {
        font-size: 20px;
        margin-top: 15px;
      }
    }
  }
}


.AccountPage__Third {
  width: 100%;
  height: 1435px;
  background-color: #fff;
  color: #383838;
  text-align: center;
  margin-top: 30px;
  font-size: 32px;
  font-weight: bold;
  &__Contents {
    padding: 30px 0;
    text-align: center;
  }
  &__ContentLeft {
    display: flex;
    justify-content: center;
    &__One, &__Two, &__Three{
      width: 30%;
      text-align: center;
      font-size: 150px;
      h1 {
        font-size: 30px;
        margin-top: 15px;
      }
      p {
        font-size: 20px;
        margin-top: 15px;
      }
    }
  }
  &__ContentRight {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #f5f5f5;
    height: 1000px;
    &__One, &__Two, &__Three{
      width: 25%;
      height: 900px;
      text-align: center;
      font-size: 150px;
      margin-top: 50px;
      border: 1px solid #fff;
      background-color: #fff;
      margin: 50px;
      border-radius: 30px;
      h1 {
        font-size: 30px;
        font-weight: bold;
        margin: 15px 0;
      }
      p {
        font-size: 30px;
        margin-top: 15px;
      }
      ul {
        text-align: left;
        margin-left: 50px;
        font-size: 20px;
        li {
          margin: 40px 0;
        }
        li.none {
          color: #fff;
        }
      }
      &__Extra {
        font-size: 30px;
        font-weight: normal;
        
        a {
          border: 2px solid #57C3E9;
          padding: 10px;
          color: #57C3E9;
          border-radius: 10px;
        }
      }
    }
  }
}



.AccountPage__Fourth {
  width: 100%;
  height: 300px;
  background-image: image-url('GoTo.png');
  background-size: cover;
  color: #57C3E9;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  &__Contents {
    padding-top: 30px;
  }
}

.AccountPage__Sixth {
  height: 400px;
  background-image: image-url('GoTo.png');
  background-size: cover;
}

.AccountPage__Fifth {
  width: 100%;
  height: 500px;
  background-image: image-url('friends.jpg');
  background-size: cover;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  font-size: 32px;
  &__Contents {
    padding-top: 100px;
    &__One {
      margin-top: 50px;
      a {
        width: 430px;
        color: #fff;
        background-color: #57C3E9;
        border: 1px solid #57C3E9;
        border-radius: 10px;
        padding: 10px 20px;
        display: inline-block;
      }
    }
    &__Two {
      margin-top: 20px;
      a {
        width: 430px;
        color: #fff;
        background-color: #fa4141;
        border: 1px solid #fa4141;
        border-radius: 10px;
        padding: 10px 20px;
        display: inline-block;
      }
    } 
  }
}


#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3fefee;
  opacity: 0.6;
  right: 32px;
  bottom: 85px;
  border-radius: 10px;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}