// 複数のプロパティを変数でまとめたものです。
@mixin page_body {
  width: 100vw;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 0.15em;
}

@mixin SubItems {
  background: #eee8aa;
  padding: 0 3px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.Wrapper {
  text-align: -webkit-center;
}

.ShowArticle {
  padding: 50px;
  &__detail {
    @include page_body;
    width: 1000px;
    text-align: left;
    &__name {
      a { 
      font-size: 30px;
      text-decoration: none;
      }
    }
    &__title {
      margin-top: 50px;
      font-size: 32px;
      font-weight: bold;
      width: 1000px;
    }
    &__description {
      width: 1000px;
      font-size: 18px;
      margin: 30px 0px;
    }
    &__image {
      margin: 50px 0 30px 0;
      text-align: center;
    }
  }
  &__ShowReturn {
    &__Contents {
      width: 1000px;
      display: flex;
      margin-bottom: 30px;
      &__edit {
        @include SubItems;
        margin-right: 15px;
        width: 3vw;
        display: block
      }
      &__delete {
        @include SubItems;
        margin-right: 15px;
        width: 3vw;
        display: block
      }
      &__return {
        @include SubItems;
        width: 3vw;
        display: block
      }
    }
  }
}

.Comments {
  text-align: center;
}

.Messages {
  padding: 50px;
  width: 1000px;
  text-align: left;
  h4 {
    font-size: 20px;
    color: #383838;
  }
}